<% @servers.each do |s| %>
<div class="well">
  <h1><%= s.name %></h1>
  <br />
  <% s.checkers.each do |c| %>
    <% if c.up? %>
      <div class="alert alert-success">
        <strong><%= "#{c.name}" %></strong>
      </div>
    <% else %>
      <div class="alert alert-error">
        <strong><%= "#{c.name}" %></strong>
      </div>
    <% end %>
  <% end %>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Add Check
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <% Checker.select_options.each do |checker| %>
        <li><%= link_to checker, { :controller => "checkers", :action => "new", :type => checker, :server_id => s.id }, :remote => true %></li>
      <% end %>
    </ul>    
  </div>
</div>
<% end %>

<div>
  <%= form_for :server, :url => { :controller => 'servers', :action => 'create' }, :html => { :class => 'well' } do |f| %>
    <%= f.label :name, 'Server name:', :class => 'control-label' %>    
    <%= f.text_field :name, :class => 'span3' %>
    <span class="help-block">Example block-level help text here.</span>
    
    <%= f.label :ip, 'IP address:', :class => 'control-label' %>    
    <%= f.text_field :ip, :class => 'span3' %>
    <span class="help-block">Example block-level help text here.</span>

    <%= f.submit 'Add Server', :class => "btn" %>
  <% end %>
</div>

<div id="modal">
</div>