<% @servers.each do |s| %>
<div class="well">
  <h1><%= s.name %></h1>
  <br />
  <% s.checkers.each do |c| %>
    <% if c.up? %>
      <div class="alert alert-success">
        <strong><%= "#{c.name}" %></strong>
      </div>
    <% else %>
      <div class="alert alert-error">
        <strong><%= "#{c.name}" %></strong>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>

<div>
  <%= form_for :server, :url => { :controller => 'servers', :action => 'create' }, :html => { :class => 'well' } do |f| %>
    <%= f.label :name, 'Server name:', :class => 'control-label' %>    
    <%= f.text_field :name, :class => 'span3' %>
    <span class="help-block">Example block-level help text here.</span>
    
    <%= f.label :ip, 'IP address:', :class => 'control-label' %>    
    <%= f.text_field :ip, :class => 'span3' %>
    <span class="help-block">Example block-level help text here.</span>

    <%= f.submit 'Add Server', :class => "btn" %>
  <% end %>
</div>