<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Add Http Checker</h3>
  </div>
  <%= form_for @checker do |f| %>
  <div class="modal-body">
    <%= f.label :name, 'name:', :class => 'control-label' %>    
    <%= f.text_field :name, :class => 'span3', :value => 'Http application' %>
    <span class="help-block">Example block-level help text here.</span>
    <%= f.label :name, 'URL:', :class => 'control-label' %>          
    <%= f.fields_for :options do |o| %>
        <%= o.text_field :url, :class => 'span3' %>
    <% end %>
    <%= f.hidden_field :type %>
    <%= f.hidden_field :server_id %>
    <span class="help-block">Example block-level help text here.</span>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <%= f.submit 'Save changes', :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
